{% extends 'layout/list.twig' %}
{% block content %}
    <div class="text-center">
        <h1>Algo ha pasado</h1>
        <p>Estamos trabajando para resolver el problema</p>
        <a href="{{ path('home') }}" class="btn btn-primary btn-lg active" role="button">Página de inicio</a>
    </div>
{% endblock %}