 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

     <div class="col-xs-6 col-sm-3 placeholder">
         <span class="glyphicon glyphicon glyphicon-th-list"></span>
         <h4><a href="{{ path('adminRss') }}">Manage RSS Feeds</a></h4>
     </div>

     <div class="col-xs-6 col-sm-3 placeholder">
         <span class="glyphicon glyphicon-plus"></span>
         <h4><a href="{{ path('adminNewPost') }}">Publish new post</a></h4>
     </div>

     <div class="col-xs-6 col-sm-3 placeholder">
         <span class="glyphicon glyphicon glyphicon-th-list"></span>
         <h4><a href="{{ path('adminPosts') }}">Manage Posts</a></h4>
     </div>
 </div>