{% extends 'layout/admin.twig' %}
{% block content %}
    <div id="main-content" class="row">
        <h2>Admin</h2>
        {% include 'admin_menu.twig'%}
    </div>
{% endblock %}
{% block left %}
{% endblock %}