{% extends 'layout/admin.twig' %}
{% block content %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            height: "100%",
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image code',
            content_css: '//www.tinymce.com/css/codepen.min.css'
        });
    </script>
    <div id="main-content" class="row">
        <h2>Admin - New post</h2>
        {% include 'admin_menu.twig'%}

        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
            <h3>GPT</h3>

            <script>
                function gpt() {
                    $('#gpt').html('LOADING...');

                    $.ajax(
                        {
                            method: 'POST',
                            url: "/admin/gpt",
                            data: $('#query').val(),
                            success : function(data) {
                                console.log(data)
                                $('#gpt').html('Gpt created');
                                $('#title').val(data.title);
                                $('#content').val(data.body);
                            },
                            error : function(request,error)
                            {
                                data = request.responseText;
                                $('#gpt').html('Gpt error');
                                console.log((data));
                                const obj = JSON.parse(data);
                                console.log((obj));
                                $('#title').val(obj.title);
                                $('#content').val(obj.body);
                            },
                            complete: function () {
                                $('#gpt').html('Gpt created');
                            }
                        }
                    );
                }
            </script>

            <div class="gpt">
                <textarea rows="5" type="text" class="form-control" id="query" name="query" value="">Articulo en www.diariotecnologia.es de 2000 palabras en html</textarea>
                <button id="gpt" onclick="gpt()">GPT</button>
            </div>

            <h3>New post</h3>

            <form action="{{ path('addPost') }}" method="post">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" value="" />

                <br>
                <label for="content">Content</label>

                    <textarea rows="20" style=""  class="form-control " id="content" name="content"></textarea>
                <br>
                <div class="input-group">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Publish" />
                </span>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block left %}
{% endblock %}
