{% extends 'layout/admin.twig' %}
{% block content %}
    <script src="https://cdn.tiny.cloud/1/a1kctg8gzkm8gdirr628t0ff8d88jhv30a482aknzchuxwom/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <div id="main-content" class="row">
        <h2>Admin - New post</h2>
        {% include 'admin_menu.twig'%}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3>New post</h3>
            <form action="{{ path('savePost') }}" method="post">

                    <input type="text" class="form-control" name="title" value="{{ post.title }}" />
                    <input type="hidden" class="form-control" name="slug" value="{{ post.slag }}" />

                <br>
                <div class="input-group">
                    <textarea  class="form-control" name="content">{{ post.content | raw }}</textarea>
                    <script>
                        tinymce.init({
                            selector: 'textarea',
                            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
                            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                            tinycomments_mode: 'embedded',
                            tinycomments_author: 'Author name',
                            mergetags_list: [
                                { value: 'First.Name', title: 'First Name' },
                                { value: 'Email', title: 'Email' },
                            ]
                        });
                    </script>
                </div>
                <br>
                <div class="input-group">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Save" />
                </span>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block left %}
{% endblock %}
