{% extends 'layout/list.twig' %}
{% block content %}
    <div class="text-center">
        <h1>Page not found</h1>
        <p>Sorry, the page you are looking for not exist, try to go to the home page</p>
        <a href="{{ path('home') }}" class="btn btn-primary btn-lg active" role="button">Home Page</a>
    </div>
{% endblock %}