{% extends 'layout/list.twig' %}
{% block content %}
    <div class="text-center">
        <h1>Pagina no encontrada</h1>
        <p>La página no ha sido encontrada</p>
        <a href="{{ path('home') }}" class="btn btn-primary btn-lg active" role="button">Ir a la página de inicio</a>
    </div>
{% endblock %}