{% extends 'layout/single.twig' %}
{% block content %}
    <div class="text-center">
        <h1>Something was happen</h1>
        <p>Sorry, we are solving the problem but meanwhile, try to go to the home page</p>
        <a href="{{ path('home') }}" class="btn btn-primary btn-lg active" role="button">Home Page</a>
    </div>
{% endblock %}