<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%  include 'common/seo.twig' %}
     <title>{{ app.name }}
    {% if post is defined %}
        - {{ post.title }}
    {% endif %}
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="icon" type="image/png" href="favicon.png" />
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/starter-template/starter-template.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="google-site-verification" content="sdIPbTU_NTJziWKd2pW2iXz0wiA5pfVT5jJwVfibF_0" />
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-4862846-26', 'auto');
        ga('send', 'pageview');

    </script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6904186947817626",
    enable_page_level_ads: true
  });
</script>

    <style type="text/css" media="screen">
        body
        {
            background-color:#FFF;
            color: black;
            text-shadow: .5px .5px #ddd;
            font-family:Arial,Helvetica,sans-serif;
        }

        p
        {
            font-size: 13px;
        }

        a:hover{
            text-underline-mode: none;
            text-decoration: none;
        }

        h2
        {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin:0px;
        }
        h2 a
        {
            font-size: 13px;
            color: #ffcc00;
            margin:0px;
        }
        .pager a
        {
            text-shadow: 0.5px 0.5px #777;
            color:black;
        }
        .categories .nav li
        {

            background-color: #3c3c3c;
            border-radius: 2px;

        }

        .categories .nav li a
        {
            color:white;
            font-size: 18px;
            padding: 0px 10px;

        }

        .categories .nav li a:first-letter
        {
            color:#ffcc00;
            font-size: 20px;

        }

        .categories .nav li a:hover
        {
            background-color: #6c6c6c;
            color:#ffcc00;
        }

        .page{
            background-color: #3c3c3c;
            padding: 10px;
            margin: 10px;
            color:white;
        }

        img{
            width:100%;
        }
        h2{
            margin-top:20px;
        }

        .module{
            
        }
        .module h2{
            text-align: center;

            padding:5px;
            margin:5px;
        }

        .module{padding: 15px;}

        .module ul{padding: 0;}

        .module ul li{
            list-style-type: none;
            padding:5px 10px;
            text-align: justify;
        }

        .module ul li + li{
            border-top: 1px solid #000;
        }

        .post + .post{
            border-top: 3px solid black;
        }
    </style>
</head>
