<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%  include 'common/seo.twig' %}
    <meta name="hubtraffic-domain-validation"  content="c4c50ce5d36eff59" />
    <meta name="google-site-verification" content="0uw8M6v5BP6ZyMz4BrG7cZ5STjKsmGVAII4j94m3xiw" />
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/starter-template/starter-template.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style type="text/css" media="screen">
        body
        {
            background-color:#FFF;
            color: black;
            text-shadow: .5px .5px #ddd;
            font-family:Arial,Helvetica,sans-serif;
        }

        p
        {
            font-size: 13px;
        }

        a:hover{
            text-underline-mode: none;
            text-decoration: none;
        }

        h2
        {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin:0px;
        }
        h2 a
        {
            font-size: 13px;
            color: #ffcc00;
            margin:0px;
        }
        .pager a
        {
            text-shadow: 0.5px 0.5px #777;
            color:black;
        }
        .categories .nav li
        {

            background-color: #3c3c3c;
            border-radius: 2px;

        }

        .categories .nav li a
        {
            color:white;
            font-size: 18px;
            padding: 0px 10px;

        }

        .categories .nav li a:first-letter
        {
            color:#ffcc00;
            font-size: 20px;

        }

        .categories .nav li a:hover
        {
            background-color: #6c6c6c;
            color:#ffcc00;
        }

        .page{
            background-color: #3c3c3c;
            padding: 10px;
            margin: 10px;
            color:white;
        }

    </style>
</head>