<div class="module">
    <center>
        {{ app.banner_up }}
    </center>
</div>
<div class="module">
<form method="get" action="{{ app.url }}">
    <input name="s" type="text" placeholder="Búsqueda...">
    <input id="submit" type="submit" value="Buscar">
</form>
</div>
{% if lastPosts is defined %}
<div class="module">
<h2>Últimos posts</h2>
    <ul>
    {% for lastPost in lastPosts %}
        <li>
            <a href="{{ path('post', {'slug' : lastPost.slag}) }}">{{ lastPost.title }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}