<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div>
            <h1><a href="{{ path('home') }}">{{ app.name }}</a></h1>
            <em>{{ app.description }}</em>
        </div>
    </div>
</nav>