<!DOCTYPE html>
<html lang="en">
{% include 'common/header.twig' %}
<body>
{% include 'common/nav.twig'%}
<div class="container">
    {{ app.banner_header|raw  }}
    <div class="row post">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            {% block content %}{% endblock %}

            <div id="disqus_thread"></div>
            <script>

            var disqus_config = function () {
            this.page.url = this.location.href;
            this.page.identifier = '{{post.slag}}';
            };
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '{{ app.disqus_embed_js}}';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript><h3>Activa JavaScript para ver los comentarios</h3></noscript>

        </div>
        <div class="left col-xs-12 col-sm-4 col-md-4 col-lg-4">
            {% block left %}
            {% endblock %}
        </div>
    </div>
</div>
<footer>
    {% include 'common/footer.twig'%}
</footer>
</body>
</html>
