body
{
    background-color:#FFF;
    color: black;
    text-shadow: .5px .5px #ddd;
    font-family:Arial,Helvetica,sans-serif;
}

h1, h1 a{
    color:white;
    font-family: fantasy;
}
h1, h1 a:hover{
    color:darkgrey;
}

.navbar {
    min-height: 100px;
}

body{
    padding-top:100px;
}

em{
    color:#ccc;
    letter-spacing: 2px;
    font-family: fantasy;
}

p
{
    font-size: 13px;
}

a:hover{
    text-underline-mode: none;
    text-decoration: none;
}

.post h2
{
font-size: 36px;
}

h2 a{
   color: #222;
    font-family: fantasy;
}

.pager a
{
    text-shadow: 0.5px 0.5px #777;
    color:black;
}
.categories .nav li
{

    background-color: #3c3c3c;
    border-radius: 2px;

}

.categories .nav li a
{
    color:white;
    font-size: 18px;
    padding: 0px 10px;

}

.categories .nav li a:first-letter
{
    color:#ffcc00;
    font-size: 20px;

}

.categories .nav li a:hover
{
    background-color: #6c6c6c;
    color:#ffcc00;
}

.page{
    background-color: #3c3c3c;
    padding: 10px;
    color:white;
}

img{
    max-width:100%;
}

.module{

}
.module h2{
    text-align: center;
    padding:5px;
    margin:5px;
}

.module{padding: 15px;}

.module ul{padding: 0;}

.module ul li{
    list-style-type: none;
    padding:5px 10px;
    text-align: justify;
}

.module ul li + li{
    border-top: 1px solid #000;
}

.post + .post{
    border-top: 3px solid black;
}

.post p{font-size: 1.2em;font-family: "Times New Roman";}